In [1]:
pip install pycoingecko

Requirement already satisfied: pycoingecko in c:\users\nicho\anaconda3\lib\site-packages (2.2.0)
Requirement already satisfied: requests in c:\users\nicho\anaconda3\lib\site-packages (from pycoingecko) (2.24.0)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\nicho\anaconda3\lib\site-packages (from requests->pycoingecko) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\nicho\anaconda3\lib\site-packages (from requests->pycoingecko) (1.25.11)
Requirement already satisfied: idna<3,>=2.5 in c:\users\nicho\anaconda3\lib\site-packages (from requests->pycoingecko) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\nicho\anaconda3\lib\site-packages (from requests->pycoingecko) (2020.6.20)
Note: you may need to restart the kernel to use updated packages.

In [54]:
from pycoingecko import CoinGeckoAPI
cg = CoinGeckoAPI()

import datetime as dt
from datetime import timedelta
import pandas as pd
import numpy as np

In [55]:
cg.ping()

{'gecko_says': '(V3) To the Moon!'}

In [56]:
cg.get_price(ids="bitcoin", vs_currencies='usd')

{'bitcoin': {'usd': 49348}}

In [57]:
cg.get_coin_history_by_id('bitcoin','28-03-2020')

{'id': 'bitcoin',
 'symbol': 'btc',
 'name': 'Bitcoin',
 'localization': {'en': 'Bitcoin',
  'de': 'Bitcoin',
  'es': 'Bitcoin',
  'fr': 'Bitcoin',
  'it': 'Bitcoin',
  'pl': 'Bitcoin',
  'ro': 'Bitcoin',
  'hu': 'Bitcoin',
  'nl': 'Bitcoin',
  'pt': 'Bitcoin',
  'sv': 'Bitcoin',
  'vi': 'Bitcoin',
  'tr': 'Bitcoin',
  'ru': 'биткоин',
  'ja': 'ビットコイン',
  'zh': '比特币',
  'zh-tw': '比特幣',
  'ko': '비트코인',
  'ar': 'بيتكوين',
  'th': 'บิตคอยน์',
  'id': 'Bitcoin'},
 'image': {'thumb': 'https://assets.coingecko.com/coins/images/1/thumb/bitcoin.png?1547033579',
  'small': 'https://assets.coingecko.com/coins/images/1/small/bitcoin.png?1547033579'},
 'market_data': {'current_price': {'aed': 23499.21610393996,
   'ars': 410563.6143587888,
   'aud': 10377.274304544148,
   'bch': 29.732352419432694,
   'bdt': 542870.6948176933,
   'bhd': 2409.9716083116546,
   'bmd': 6397.826328325604,
   'bnb': 517.6985705205358,
   'brl': 32632.113187624735,
   'btc': 1.0,
   'cad': 8971.671860210987,
   'chf': 6086.028262214649,
   'clp': 5314034.548307244,
   'cny': 45401.5347563298,
   'czk': 157391.00615523977,
   'dkk': 42882.71053086795,
   'eos': 2892.6767591204143,
   'eth': 49.02821591483618,
   'eur': 5729.253477015574,
   'gbp': 5136.750780749345,
   'hkd': 49622.50067644264,
   'huf': 2047816.2511704606,
   'idr': 102492947.45802844,
   'ils': 22811.769664961314,
   'inr': 479043.64415970765,
   'jpy': 690421.6069765243,
   'krw': 7758899.901413585,
   'kwd': 2004.1190973479902,
   'lkr': 1204565.8700291167,
   'ltc': 167.28925110196695,
   'mmk': 8964674.00094481,
   'mxn': 149651.5492480381,
   'myr': 27687.233218461897,
   'ngn': 2474725.6848111395,
   'nok': 67098.48318358038,
   'nzd': 10592.433203965673,
   'php': 326378.83387190214,
   'pkr': 1033021.0934398965,
   'pln': 26061.60952669766,
   'rub': 503972.7744480286,
   'sar': 24028.553060866594,
   'sek': 63309.05064931316,
   'sgd': 9134.81643158329,
   'thb': 207627.8964918179,
   'try': 41297.96894934171,
   'twd': 193054.4094572249,
   'uah': 179135.30489514628,
   'usd': 6397.826328325604,
   'vef': 1589780779.7930212,
   'vnd': 148934109.42815778,
   'xag': 441.84412275629154,
   'xau': 3.9408051051954414,
   'xdr': 4693.183083580203,
   'xlm': 157995.81958728845,
   'xrp': 36846.89355141044,
   'zar': 112588.78778021545,
   'bits': 1000000.0,
   'link': 2992.199604666583,
   'sats': 100000000.0},
  'market_cap': {'aed': 429813281620.1097,
   'ars': 7509428979283.158,
   'aud': 189805919626.41403,
   'bch': 543820692.0246731,
   'bdt': 9929396529778.729,
   'bhd': 44079674870.773834,
   'bmd': 117019679177.81361,
   'bnb': 9468984858.952969,
   'brl': 596858873646.4381,
   'btc': 18290537.0,
   'cad': 164096696111.04788,
   'chf': 111316725113.08273,
   'clp': 97196545525091.94,
   'cny': 830418451317.4362,
   'czk': 2878766021549.641,
   'dkk': 784347803625.1299,
   'eos': 52908611291.73202,
   'eth': 896752397.2343,
   'eur': 104791122703.73201,
   'gbp': 93953930215.07478,
   'hkd': 907622184654.9991,
   'huf': 37455658911234.61,
   'idr': 1874651047720124.5,
   'ils': 417239517092.45245,
   'inr': 8761965498117.966,
   'jpy': 12628181948003.576,
   'krw': 141914445726101.53,
   'kwd': 36656414502.45001,
   'lkr': 22032156614704.754,
   'ltc': 3059810236.982818,
   'mmk': 163968701507219.1,
   'mxn': 2737207198628.563,
   'myr': 506414363609.9065,
   'ngn': 45264061702888.49,
   'nok': 1227267289313.1548,
   'nzd': 193741291437.16263,
   'php': 5969644136950.879,
   'pkr': 18894510531342.875,
   'pln': 476680833327.616,
   'rub': 9217932678034.322,
   'sar': 439495138816.2436,
   'sek': 1157956533336.1365,
   'sgd': 167080697930.08212,
   'thb': 3797625723015.7656,
   'try': 755362029092.7856,
   'twd': 3531068819190.522,
   'uah': 3276480922190.9546,
   'usd': 117019679177.81361,
   'vef': 29077944174693104,
   'vnd': 2724084839057769,
   'xag': 8081566275.506492,
   'xau': 72079441.5863661,
   'xdr': 85840838837.9978,
   'xlm': 2889828384006.625,
   'xrp': 673949469837.134,
   'zar': 2059309388679.1794,
   'bits': 18290537000000.0,
   'link': 54728937580.53951,
   'sats': 1829053700000000},
  'total_volume': {'aed': 120880456024.86209,
   'ars': 2111947765039.9167,
   'aud': 53380914694.34428,
   'bch': 152943838.77555573,
   'bdt': 2792538136669.76,
   'bhd': 12396944039.798828,
   'bmd': 32910551599.472366,
   'bnb': 2663052206.1307945,
   'brl': 167860268433.10876,
   'btc': 5163072.728041193,
   'cad': 46150466507.94006,
   'chf': 31306655867.27205,
   'clp': 27335504158521.734,
   'cny': 233546438370.4956,
   'czk': 809622606733.1404,
   'dkk': 220589554205.78308,
   'eos': 14879989367.661045,
   'eth': 252202161.62347358,
   'eur': 29471398957.327488,
   'gbp': 26423552773.70037,
   'hkd': 255259174788.24768,
   'huf': 10534009355959.123,
   'idr': 527225851843690.2,
   'ils': 117344217255.49849,
   'inr': 2464210461562.092,
   'jpy': 3551543095377.868,
   'krw': 39911942346744.08,
   'kwd': 10309230288.534693,
   'lkr': 6196311870024.09,
   'ltc': 860539384.4551666,
   'mmk': 46114469374437.75,
   'mxn': 769810679552.7076,
   'myr': 142423703101.8767,
   'ngn': 12730040355101.627,
   'nok': 345155992009.7861,
   'nzd': 54487696544.6342,
   'php': 1678899504595.9614,
   'pkr': 5313881974019.545,
   'pln': 134061461045.96683,
   'rub': 2592446425869.437,
   'sar': 123603376332.54744,
   'sek': 325663072297.41876,
   'sgd': 46989685573.72661,
   'thb': 1068042214702.0372,
   'try': 212437610574.5938,
   'twd': 993075894514.0776,
   'uah': 921475731364.8185,
   'usd': 32910551599.472366,
   'vef': 8177865371803649,
   'vnd': 766120154208631.0,
   'xag': 2272855350.342121,
   'xau': 20271583.363211013,
   'xdr': 24141831320.75736,
   'xlm': 812733779597.4874,
   'xrp': 189541186220.55905,
   'zar': 579159064283.7231,
   'bits': 5163072728041.193,
   'link': 15448944175.709677,
   'sats': 516307272804119.4}},
 'community_data': {'facebook_likes': None,
  'twitter_followers': 68803,
  'reddit_average_posts_48h': 7.333,
  'reddit_average_comments_48h': 401.417,
  'reddit_subscribers': 1340493,
  'reddit_accounts_active_48h': '5416.38461538462'},
 'developer_data': {'forks': 25398,
  'stars': 42677,
  'subscribers': 3503,
  'total_issues': 5295,
  'closed_issues': 4530,
  'pull_requests_merged': 7299,
  'pull_request_contributors': 643,
  'code_additions_deletions_4_weeks': {'additions': 2506, 'deletions': -1880},
  'commit_count_4_weeks': 307},
 'public_interest_stats': {'alexa_rank': 12275, 'bing_matches': None}}

In [58]:
btc_df = pd.DataFrame(cg.get_coin_market_chart_by_id('bitcoin',vs_currency='usd',days = 6000,))

In [59]:
btc_df.head()

,prices,market_caps,total_volumes
0,"[1367107200000, 135.3]","[1367107200000, 1500517590]","[1367107200000, 0]"
1,"[1367193600000, 141.96]","[1367193600000, 1575032004.0]","[1367193600000, 0.0]"
2,"[1367280000000, 135.3]","[1367280000000, 1501657493.0]","[1367280000000, 0.0]"
3,"[1367366400000, 117.0]","[1367366400000, 1298951550.0]","[1367366400000, 0.0]"
4,"[1367452800000, 103.43]","[1367452800000, 1148667722.0]","[1367452800000, 0.0]"

In [60]:
btc_df_cleaned = pd.DataFrame(btc_df)

In [61]:
btc_df_cleaned[["times","prices"]] = pd.DataFrame(btc_df_cleaned.prices.tolist(),index= btc_df_cleaned.index)

In [62]:
btc_df_cleaned.head()

   prices                    market_caps         total_volumes          times
0  135.30    [1367107200000, 1500517590]    [1367107200000, 0]  1367107200000
1  141.96  [1367193600000, 1575032004.0]  [1367193600000, 0.0]  1367193600000
2  135.30  [1367280000000, 1501657493.0]  [1367280000000, 0.0]  1367280000000
3  117.00  [1367366400000, 1298951550.0]  [1367366400000, 0.0]  1367366400000
4  103.43  [1367452800000, 1148667722.0]  [1367452800000, 0.0]  1367452800000

In [63]:
btc_df_cleaned[["times","market_caps"]] = pd.DataFrame(btc_df_cleaned.market_caps.tolist(),index= btc_df_cleaned.index)

In [64]:
btc_df_cleaned[["times","total_volumes"]] = pd.DataFrame(btc_df_cleaned.total_volumes.tolist(),index= btc_df_cleaned.index)

In [65]:
btc_df_cleaned.head()

   prices   market_caps  total_volumes          times
0  135.30  1.500518e+09            0.0  1367107200000
1  141.96  1.575032e+09            0.0  1367193600000
2  135.30  1.501657e+09            0.0  1367280000000
3  117.00  1.298952e+09            0.0  1367366400000
4  103.43  1.148668e+09            0.0  1367452800000

In [66]:
btc_df_cleaned

            prices   market_caps  total_volumes          times
0       135.300000  1.500518e+09   0.000000e+00  1367107200000
1       141.960000  1.575032e+09   0.000000e+00  1367193600000
2       135.300000  1.501657e+09   0.000000e+00  1367280000000
3       117.000000  1.298952e+09   0.000000e+00  1367366400000
4       103.430000  1.148668e+09   0.000000e+00  1367452800000
...            ...           ...            ...            ...
3035  49195.878602  9.230134e+11   3.649709e+10  1629504000000
3036  48933.689151  9.207502e+11   4.214773e+10  1629590400000
3037  49250.544870  9.256301e+11   2.711018e+10  1629676800000
3038  49518.577488  9.307292e+11   3.580026e+10  1629763200000
3039  49266.450061  9.243797e+11   3.606152e+10  1629774205000

[3040 rows x 4 columns]

In [67]:
test_time = 1367107200000

In [68]:
test_time

1367107200000

In [69]:
btc_df_cleaned.dtypes

prices           float64
market_caps      float64
total_volumes    float64
times              int64
dtype: object

In [70]:
start = dt.datetime(1970, 1, 1)  # Unix epoch start time
btc_df_cleaned.times = btc_df_cleaned.times.apply(lambda x: start + timedelta(seconds=x/1000))
btc_df_cleaned

            prices   market_caps  total_volumes               times
0       135.300000  1.500518e+09   0.000000e+00 2013-04-28 00:00:00
1       141.960000  1.575032e+09   0.000000e+00 2013-04-29 00:00:00
2       135.300000  1.501657e+09   0.000000e+00 2013-04-30 00:00:00
3       117.000000  1.298952e+09   0.000000e+00 2013-05-01 00:00:00
4       103.430000  1.148668e+09   0.000000e+00 2013-05-02 00:00:00
...            ...           ...            ...                 ...
3035  49195.878602  9.230134e+11   3.649709e+10 2021-08-21 00:00:00
3036  48933.689151  9.207502e+11   4.214773e+10 2021-08-22 00:00:00
3037  49250.544870  9.256301e+11   2.711018e+10 2021-08-23 00:00:00
3038  49518.577488  9.307292e+11   3.580026e+10 2021-08-24 00:00:00
3039  49266.450061  9.243797e+11   3.606152e+10 2021-08-24 03:03:25

[3040 rows x 4 columns]

In [18]:
#btc_df_cleaned['times'] = pd.to_datetime(btc_df_cleaned['times'])

In [19]:
btc_df_cleaned

            prices   market_caps  total_volumes                      times
0       135.300000  1.500518e+09   0.000000e+00 1970-01-01 00:22:47.107200
1       141.960000  1.575032e+09   0.000000e+00 1970-01-01 00:22:47.193600
2       135.300000  1.501657e+09   0.000000e+00 1970-01-01 00:22:47.280000
3       117.000000  1.298952e+09   0.000000e+00 1970-01-01 00:22:47.366400
4       103.430000  1.148668e+09   0.000000e+00 1970-01-01 00:22:47.452800
...            ...           ...            ...                        ...
3035  49195.878602  9.230134e+11   3.649709e+10 1970-01-01 00:27:09.504000
3036  48933.689151  9.207502e+11   4.214773e+10 1970-01-01 00:27:09.590400
3037  49250.544870  9.256301e+11   2.711018e+10 1970-01-01 00:27:09.676800
3038  49518.577488  9.307292e+11   3.580026e+10 1970-01-01 00:27:09.763200
3039  49266.450061  9.243797e+11   3.606152e+10 1970-01-01 00:27:09.774205

[3040 rows x 4 columns]

In [20]:
btc_df_cleaned.times.astype("float64")

TypeError: cannot astype a datetimelike from [datetime64[ns]] to [float64]

In [ ]:
btc_df_cleaned.times = btc_df_cleaned.times.astype("float64")

In [ ]:
btc_df_cleaned.dtypes

In [ ]:
#btc_df_cleaned['times'] = pd.to_datetime(btc_df_cleaned['times'],unit='s')

btc_df_cleaned['times'] = pd.to_datetime(btc_df_cleaned['times'])

In [ ]:
btc_df_cleaned

In [ ]:
btc_df_cleaned['times'] = pd.to_datetime(btc_df_cleaned['times'])
btc_df_cleaned['times'] = btc_df_cleaned['times'].dt.date

In [ ]:
btc_df_cleaned

In [ ]:
btc_df_cleaned.to_csv("test_btc_df.csv", encoding='utf-8', index=False)