In [1]:
# Load dependencies, upgrade datareader
# pip install pandas-datareader
# pip install --upgrade pandas
# pip install --upgrade pandas-datareader

In [2]:
from bs4 import BeautifulSoup
import requests
import pymongo
import pandas_datareader.data as web

import datetime as dt

from splinter import Browser
import pandas as pd
import scipy.stats as st
from scipy.stats import linregress,pearsonr
from webdriver_manager.chrome import ChromeDriverManager
from sqlalchemy import create_engine

ModuleNotFoundError: No module named 'pandas_datareader'

In [ ]:
url = 'https://finance.yahoo.com/'

In [ ]:
response = requests.get(url)

In [3]:
soup = BeautifulSoup(response.text,'html.parser' )

NameError: name 'response' is not defined

In [4]:
print(soup.prettify())

NameError: name 'soup' is not defined

### Pull data from Yahoo Finance

In [5]:
start = dt.datetime(2020,1,1)
end = dt.datetime(2021,8,22)
cc = 'DOGE-USD'

data = web.DataReader('DOGE-USD', 'yahoo', start, end)
#data.to_csv('Resources/data/yahoo/UNI3-USD.csv')
   
data

NameError: name 'dt' is not defined

In [6]:
start = dt.datetime(2019,1,1)
end = dt.datetime(2021,8,22)
ccs = ['BNB-USD','BTC-USD','ADA-USD','DOGE-USD','ETH-USD','USDT-USD','USDC-USD','XRP-USD','DOT1-USD']

for cc in ccs:
    data = web.DataReader(cc, 'yahoo', start, end)
    #data.to_csv('Resources/data/yahoo/{}.csv'.format(cc))
   
data.head()

NameError: name 'dt' is not defined

In [7]:
ADA_path = "Resources/data/yahoo/ADA-USD.csv"
BNB_path = "Resources/data/yahoo/BNB-USD.csv"
BTC_path = "Resources/data/yahoo/BTC-USD.csv"
DOGE_path = "Resources/data/yahoo/DOGE-USD.csv"
DOT1_path = "Resources/data/yahoo/DOT1-USD.csv"
ETH_path = "Resources/data/yahoo/ETH-USD.csv"
UNI3_path = "Resources/data/yahoo/UNI3-USD.csv"
USDC_path = "Resources/data/yahoo/USDC-USD.csv"
USDT_path = "Resources/data/yahoo/USDT-USD.csv"
XRP_path = "Resources/data/yahoo/XRP-USD.csv"


ADA_Cardano = pd.read_csv(ADA_path)
BNB_Binance = pd.read_csv(BNB_path)
BTC_Bitcoin = pd.read_csv(BTC_path)
DOGE_Dogecoin = pd.read_csv(DOGE_path)
DOT1_Polkadot = pd.read_csv(DOT1_path)
ETH_Ethereum = pd.read_csv(ETH_path)
UNI3_Uniswap = pd.read_csv(UNI3_path)
USDC_USDCoin = pd.read_csv(USDC_path)
USDT_Tether = pd.read_csv(USDT_path)
XRP_XRP = pd.read_csv(XRP_path)

NameError: name 'pd' is not defined

# Format Data

In [8]:
# add symbol
ADA_Cardano.insert(0,'Symbol','ADA')
BNB_Binance.insert(0,'Symbol','BNB')
BTC_Bitcoin.insert(0,'Symbol','BTC')
DOGE_Dogecoin.insert(0,'Symbol','DOGE')
DOT1_Polkadot.insert(0,'Symbol','DOT')
ETH_Ethereum .insert(0,'Symbol','ETH')
UNI3_Uniswap .insert(0,'Symbol','UNI')
USDC_USDCoin .insert(0,'Symbol','USDC')
USDT_Tether .insert(0,'Symbol','USDT')
XRP_XRP.insert(0,'Symbol','XRP')

NameError: name 'ADA_Cardano' is not defined

In [9]:
#Cardano - ADA

ADA_Cardano.head()

NameError: name 'ADA_Cardano' is not defined

In [10]:
ADA_Cardano['Date'] =  pd.to_datetime(ADA_Cardano['Date'])
ADA_Cardano['Volume']=ADA_Cardano['Volume'].astype({'Volume' :'int32'})
ADA_Cardano.info()


#ADA_Cardano.to_csv('Resources/output/yahoo/ADA_Cardano.csv', index = False)

NameError: name 'pd' is not defined

In [11]:
#Binance - BNB 

BNB_Binance['Date'] =  pd.to_datetime(BNB_Binance['Date'])
BNB_Binance['Volume']=BNB_Binance['Volume'].astype({'Volume' :'int32'})
BNB_Binance.info()


BNB_Binance.to_csv('Resources/output/yahoo/BNB_Binance.csv', index = False)
BNB_Binance

NameError: name 'pd' is not defined

In [12]:
#Bitcoin - BTC  


BTC_Bitcoin['Date'] =  pd.to_datetime(BTC_Bitcoin['Date'])
BTC_Bitcoin['Volume']=BTC_Bitcoin['Volume'].astype({'Volume' :'int32'})
BTC_Bitcoin.info()


#BTC_Bitcoin.to_csv('Resources/output/yahoo/BTC_Bitcoin.csv', index = False)
BTC_Bitcoin

NameError: name 'pd' is not defined

In [13]:
#Dogecoin - DOGE 

DOGE_Dogecoin['Date'] =  pd.to_datetime(DOGE_Dogecoin['Date'])
DOGE_Dogecoin['Volume']=DOGE_Dogecoin['Volume'].astype({'Volume' :'int32'})
DOGE_Dogecoin.info()


#DOGE_Dogecoin.to_csv('Resources/output/yahoo/DOGE_Dogecoin.csv', index = False)

DOGE_Dogecoin

NameError: name 'pd' is not defined

In [14]:
#Polkadot - DOT

DOT1_Polkadot['Date'] =  pd.to_datetime(DOT1_Polkadot['Date'])
DOT1_Polkadot['Volume']=DOT1_Polkadot['Volume'].astype({'Volume' :'int32'})
DOT1_Polkadot.info()


#DOT1_Polkadot.to_csv('Resources/output/yahoo/DOT1_Polkadot.csv', index = False)

DOT1_Polkadot

NameError: name 'pd' is not defined

In [16]:
#Ethereum - ETH 



ETH_Ethereum['Date'] =  pd.to_datetime(ETH_Ethereum['Date'])
ETH_Ethereum['Volume']= ETH_Ethereum['Volume'].astype({'Volume' :'int32'})
ETH_Ethereum.info()


#ETH_Ethereum.to_csv('Resources/output/yahoo/ETH_Ethereum.csv', index = False)

ETH_Ethereum

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 879 entries, 0 to 878
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Symbol     879 non-null    object
 1   Date       879 non-null    datetime64[ns]
 2   High       879 non-null    float64
 3   Low        879 non-null    float64
 4   Open       879 non-null    float64
 5   Close      879 non-null    float64
 6   Volume     879 non-null    int32
 7   Adj Close  879 non-null    float64
dtypes: datetime64[ns](1), float64(5), int32(1), object(1)
memory usage: 51.6+ KB

,Symbol,Date,High,Low,Open,Close,Volume,Adj Close
0,ETH,2019-01-01,141.397507,132.650711,133.418152,140.819412,-2147483648,140.819412
1,ETH,2019-01-02,156.929138,140.650955,141.519516,155.047684,-2147483648,155.047684
2,ETH,2019-01-03,155.863052,147.198364,155.196045,149.135010,-2147483648,149.135010
3,ETH,2019-01-04,156.878983,147.907104,148.912888,154.581940,-2147483648,154.581940
4,ETH,2019-01-05,160.824890,154.337418,154.337418,155.638596,-2147483648,155.638596
...,...,...,...,...,...,...,...,...
874,ETH,2021-05-27,2761.363281,2336.361328,2742.468994,2419.906250,-2147483648,2419.906250
875,ETH,2021-05-28,2566.938477,2208.490967,2414.067139,2279.514160,-2147483648,2279.514160
876,ETH,2021-05-29,2472.187744,2188.834473,2278.288818,2390.305420,-2147483648,2390.305420
877,ETH,2021-05-30,2715.854980,2279.505127,2387.198486,2714.945312,-2147483648,2714.945312
878,ETH,2021-05-31,2739.737549,2531.160645,2707.560547,2633.518311,-2147483648,2633.518311

In [17]:
#Tether - USDT

USDT_Tether['Date'] =  pd.to_datetime(USDT_Tether['Date'])
USDT_Tether['Volume']= USDT_Tether['Volume'].astype({'Volume' :'int32'})
USDT_Tether.info()


#USDT_Tether.to_csv('Resources/output/yahoo/USDT_Tether.csv', index = False)

USDT_Tether

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 879 entries, 0 to 878
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Symbol     879 non-null    object
 1   Date       879 non-null    datetime64[ns]
 2   High       879 non-null    float64
 3   Low        879 non-null    float64
 4   Open       879 non-null    float64
 5   Close      879 non-null    float64
 6   Volume     879 non-null    int32
 7   Adj Close  879 non-null    float64
dtypes: datetime64[ns](1), float64(5), int32(1), object(1)
memory usage: 51.6+ KB

,Symbol,Date,High,Low,Open,Close,Volume,Adj Close
0,USDT,2019-01-01,1.020800,1.008603,1.015285,1.018335,-2147483648,1.018335
1,USDT,2019-01-02,1.024012,1.011833,1.017530,1.024012,-2147483648,1.024012
2,USDT,2019-01-03,1.026825,1.018287,1.020654,1.019473,-2147483648,1.019473
3,USDT,2019-01-04,1.024858,1.010810,1.023557,1.017200,-2147483648,1.017200
4,USDT,2019-01-05,1.026343,1.010341,1.015526,1.018489,-2147483648,1.018489
...,...,...,...,...,...,...,...,...
874,USDT,2021-05-27,1.001672,1.000344,1.000907,1.000481,-2147483648,1.000481
875,USDT,2021-05-28,1.001172,1.000086,1.000500,1.000392,-2147483648,1.000392
876,USDT,2021-05-29,1.000821,0.999650,1.000372,1.000063,-2147483648,1.000063
877,USDT,2021-05-30,1.001268,0.999965,0.999986,1.000533,-2147483648,1.000533
878,USDT,2021-05-31,1.001066,0.999739,1.000478,1.000109,-2147483648,1.000109

In [18]:
#Uniswap - UNI
UNI3_Uniswap['Date'] =  pd.to_datetime(UNI3_Uniswap['Date'])
UNI3_Uniswap['Volume']= UNI3_Uniswap['Volume'].astype({'Volume' :'int32'})
UNI3_Uniswap.info()


#UNI3_Uniswap.to_csv('Resources/output/yahoo/UNI3_Uniswap.csv', index = False)

UNI3_Uniswap

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Symbol     63 non-null     object
 1   Date       63 non-null     datetime64[ns]
 2   High       63 non-null     float64
 3   Low        63 non-null     float64
 4   Open       63 non-null     float64
 5   Close      63 non-null     float64
 6   Volume     63 non-null     int32
 7   Adj Close  63 non-null     float64
dtypes: datetime64[ns](1), float64(5), int32(1), object(1)
memory usage: 3.8+ KB

,Symbol,Date,High,Low,Open,Close,Volume,Adj Close
0,UNI,2021-03-30,28.971149,27.020401,28.485998,27.986523,560514222,27.986523
1,UNI,2021-03-31,30.268213,27.984856,27.984856,28.739431,751718827,28.739431
2,UNI,2021-04-01,30.205492,28.707283,28.736803,30.175646,535780413,30.175646
3,UNI,2021-04-02,32.503799,29.544437,30.163252,29.549885,901722733,29.549885
4,UNI,2021-04-03,31.601421,29.306843,29.536936,31.065556,457926442,31.065556
...,...,...,...,...,...,...,...,...
58,UNI,2021-05-27,29.402483,24.976366,28.474480,25.924946,1076488583,25.924946
59,UNI,2021-05-28,27.532372,21.854445,25.897547,23.179464,817413607,23.179464
60,UNI,2021-05-29,26.556747,21.780264,23.175678,25.742519,782067311,25.742519
61,UNI,2021-05-30,28.404707,23.463970,25.717644,28.369711,1058080596,28.369711
62,UNI,2021-05-31,28.724550,26.011887,28.274649,27.395235,753430864,27.395235

In [19]:
#USDCoin  - USDC
USDC_USDCoin['Date'] =  pd.to_datetime(USDC_USDCoin['Date'])
USDC_USDCoin['Volume']= USDC_USDCoin['Volume'].astype({'Volume' :'int32'})
USDC_USDCoin.info()


#USDC_USDCoin.to_csv('Resources/output/yahoo/USDC_USDCoin.csv', index = False)
USDC_USDCoin

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 821 entries, 0 to 820
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Symbol     821 non-null    object
 1   Date       821 non-null    datetime64[ns]
 2   High       821 non-null    float64
 3   Low        821 non-null    float64
 4   Open       821 non-null    float64
 5   Close      821 non-null    float64
 6   Volume     821 non-null    int32
 7   Adj Close  821 non-null    float64
dtypes: datetime64[ns](1), float64(5), int32(1), object(1)
memory usage: 48.2+ KB

,Symbol,Date,High,Low,Open,Close,Volume,Adj Close
0,USDC,2019-01-01,1.022230,1.008677,1.018946,1.013301,17007853,1.013301
1,USDC,2019-01-02,1.020264,1.009168,1.014262,1.018173,18125812,1.018173
2,USDC,2019-01-03,1.022562,1.009954,1.014458,1.013577,15279811,1.013577
3,USDC,2019-01-04,1.017635,1.001058,1.015247,1.008160,17203036,1.008160
4,USDC,2019-01-05,1.016118,1.002453,1.006733,1.011010,15428171,1.011010
...,...,...,...,...,...,...,...,...
816,USDC,2021-05-27,1.000768,0.999862,1.000251,1.000196,-2147483648,1.000196
817,USDC,2021-05-28,1.000881,0.999801,1.000144,0.999901,-2147483648,0.999901
818,USDC,2021-05-29,1.000236,0.999093,0.999895,0.999498,-2147483648,0.999498
819,USDC,2021-05-30,1.000697,0.999391,0.999560,1.000264,-2147483648,1.000264
820,USDC,2021-05-31,1.000738,0.999783,1.000283,1.000025,1999280287,1.000025

In [20]:
#XRP - XRP
XRP_XRP['Date'] =  pd.to_datetime(XRP_XRP['Date'])
XRP_XRP['Volume']= XRP_XRP['Volume'].astype({'Volume' :'int32'})
XRP_XRP.info()


#XRP_XRP.to_csv('Resources/output/yahoo/XRP_XRP.csv', index = False)
XRP_XRP

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 879 entries, 0 to 878
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Symbol     879 non-null    object
 1   Date       879 non-null    datetime64[ns]
 2   High       879 non-null    float64
 3   Low        879 non-null    float64
 4   Open       879 non-null    float64
 5   Close      879 non-null    float64
 6   Volume     879 non-null    int32
 7   Adj Close  879 non-null    float64
dtypes: datetime64[ns](1), float64(5), int32(1), object(1)
memory usage: 51.6+ KB

,Symbol,Date,High,Low,Open,Close,Volume,Adj Close
0,XRP,2019-01-01,0.364771,0.350402,0.352512,0.364771,449347622,0.364771
1,XRP,2019-01-02,0.378021,0.359574,0.365675,0.375243,543216669,0.375243
2,XRP,2019-01-03,0.374505,0.357675,0.374505,0.360224,438873803,0.360224
3,XRP,2019-01-04,0.364642,0.352785,0.359753,0.356747,450633876,0.356747
4,XRP,2019-01-05,0.361069,0.353987,0.356347,0.355275,452090239,0.355275
...,...,...,...,...,...,...,...,...
874,XRP,2021-05-27,0.983460,0.847571,0.973952,0.900148,-2147483648,0.900148
875,XRP,2021-05-28,0.939792,0.795070,0.899495,0.831788,-2147483648,0.831788
876,XRP,2021-05-29,0.930127,0.799825,0.831994,0.906609,-2147483648,0.906609
877,XRP,2021-05-30,1.049022,0.882556,0.906384,1.046584,-2147483648,1.046584
878,XRP,2021-05-31,1.099639,0.979337,1.042102,1.011001,-2147483648,1.011001