In [1]:
pip install pycoingecko

Requirement already satisfied: pycoingecko in c:\users\jmhua\anaconda3\lib\site-packages (2.2.0)
Requirement already satisfied: requests in c:\users\jmhua\anaconda3\lib\site-packages (from pycoingecko) (2.24.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\jmhua\anaconda3\lib\site-packages (from requests->pycoingecko) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\jmhua\anaconda3\lib\site-packages (from requests->pycoingecko) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\jmhua\anaconda3\lib\site-packages (from requests->pycoingecko) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\jmhua\anaconda3\lib\site-packages (from requests->pycoingecko) (1.25.11)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from pycoingecko import CoinGeckoAPI
cg = CoinGeckoAPI()

import datetime as dt
from datetime import timedelta
import pandas as pd
import numpy as np

In [3]:
cg.get_price(ids="bitcoin", vs_currencies='usd')

{'bitcoin': {'usd': 49320}}

In [4]:
btc_social = cg.get_coin_history_by_id('bitcoin','25-8-2021')['community_data']

In [5]:
btc_df = pd.DataFrame(btc_social,index = [0])

In [6]:
btc_df

,facebook_likes,twitter_followers,reddit_average_posts_48h,reddit_average_comments_48h,reddit_subscribers,reddit_accounts_active_48h
0,None,3096212,5.909,809.727,3294595,3383.75

In [7]:
btc_df = btc_df.drop(columns=['facebook_likes','reddit_average_posts_48h','reddit_average_comments_48h','reddit_accounts_active_48h'])

In [8]:
btc_df.insert(0,'Name','Bitcoin')
btc_df.insert(1,'Ticker','BTC')
btc_df.insert(2,'Price(usd)',49015)

In [9]:
btc_df

      Name Ticker  Price(usd)  twitter_followers  reddit_subscribers
0  Bitcoin    BTC       49015            3096212             3294595

In [10]:
cg.get_price(ids="ethereum", vs_currencies='usd')

{'ethereum': {'usd': 3247.28}}

In [11]:
eth_social = cg.get_coin_history_by_id("ethereum",'25-8-2021')['community_data']

In [12]:
eth_df = pd.DataFrame(eth_social,index = [0])

In [13]:
eth_df = eth_df.drop(columns=['facebook_likes','reddit_average_posts_48h','reddit_average_comments_48h','reddit_accounts_active_48h'])

In [14]:
eth_df.insert(0,'Name','Ethereum')
eth_df.insert(1,'Ticker','ETH')
eth_df.insert(2,'Price(usd)',3222.72)

In [15]:
eth_df

       Name Ticker  Price(usd)  twitter_followers  reddit_subscribers
0  Ethereum    ETH     3222.72            1519907             1077117

In [16]:
cg.get_price(ids="cardano", vs_currencies='usd')

{'cardano': {'usd': 2.77}}

In [17]:
ada_social = cg.get_coin_history_by_id("cardano",'25-8-2021')['community_data']

In [18]:
ada_df = pd.DataFrame(ada_social,index = [0])

In [19]:
ada_df = ada_df.drop(columns=['facebook_likes','reddit_average_posts_48h','reddit_average_comments_48h','reddit_accounts_active_48h'])

In [20]:
ada_df.insert(0,'Name','Cardano')
ada_df.insert(1,'Ticker','ADA')
ada_df.insert(2,'Price(usd)',2.74)

In [21]:
ada_df

      Name Ticker  Price(usd)  twitter_followers  reddit_subscribers
0  Cardano    ADA        2.74             565024              578740

In [22]:
cg.get_price(ids="binance coin", vs_currencies='usd')

{'binancecoin': {'usd': 517.06}}

In [23]:
bnb_social = cg.get_coin_history_by_id("binancecoin",'25-8-2021')['community_data']

In [24]:
bnb_df = pd.DataFrame(bnb_social,index = [0])

In [25]:
bnb_df = bnb_df.drop(columns=['facebook_likes','reddit_average_posts_48h','reddit_average_comments_48h','reddit_accounts_active_48h'])

In [26]:
bnb_df.insert(0,'Name','Binance Coin')
bnb_df.insert(1,'Ticker','BNB')
bnb_df.insert(2,'Price(usd)',503.01)

In [27]:
bnb_df

           Name Ticker  Price(usd)  twitter_followers  reddit_subscribers
0  Binance Coin    BNB      503.01            4840268              602365

In [28]:
cg.get_price(ids="Dogecoin", vs_currencies='usd')

{'dogecoin': {'usd': 0.295097}}

In [29]:
doge_social = cg.get_coin_history_by_id("dogecoin",'25-8-2021')['community_data']

In [30]:
doge_df = pd.DataFrame(doge_social,index = [0])

In [31]:
doge_df = doge_df.drop(columns=['facebook_likes','reddit_average_posts_48h','reddit_average_comments_48h','reddit_accounts_active_48h'])

In [32]:
doge_df.insert(0,'Name','Dogecoin')
doge_df.insert(1,'Ticker','DOGE')
doge_df.insert(2,'Price(usd)',0.291117)

In [33]:
doge_df

       Name Ticker  Price(usd)  twitter_followers  reddit_subscribers
0  Dogecoin   DOGE    0.291117            2055865             2144347

In [34]:
cg.get_price(ids="polkadot", vs_currencies='usd')

{'polkadot': {'usd': 26.31}}

In [35]:
dot_social = cg.get_coin_history_by_id("polkadot",'25-8-2021')['community_data']

In [36]:
dot_df = pd.DataFrame(dot_social,index = [0])

In [37]:
dot_df = dot_df.drop(columns=['facebook_likes','reddit_average_posts_48h','reddit_average_comments_48h','reddit_accounts_active_48h'])

In [38]:
dot_df.insert(0,'Name','Polkadot')
dot_df.insert(1,'Ticker','DOT')
dot_df.insert(2,'Price(usd)',25.87)

In [39]:
dot_df

       Name Ticker  Price(usd)  twitter_followers  reddit_subscribers
0  Polkadot    DOT       25.87             556846               28747

In [40]:
cg.get_price(ids="solana", vs_currencies='usd')

{'solana': {'usd': 72.96}}

In [41]:
sol_social = cg.get_coin_history_by_id("solana",'25-8-2021')['community_data']

In [42]:
sol_df = pd.DataFrame(sol_social,index = [0])

In [43]:
sol_df = sol_df.drop(columns=['facebook_likes','reddit_average_posts_48h','reddit_average_comments_48h','reddit_accounts_active_48h'])

In [44]:
sol_df.insert(0,'Name','Solana')
sol_df.insert(1,'Ticker','SOL')
sol_df.insert(2,'Price(usd)',72.53)

In [45]:
sol_df

     Name Ticker  Price(usd)  twitter_followers  reddit_subscribers
0  Solana    SOL       72.53             424322               34764

In [46]:
cg.get_price(ids="Uniswap", vs_currencies='usd')

{'uniswap': {'usd': 27.54}}

In [47]:
uni_social = cg.get_coin_history_by_id("uniswap",'25-8-2021')['community_data']

In [48]:
uni_df = pd.DataFrame(uni_social,index = [0])

In [49]:
uni_df = uni_df.drop(columns=['facebook_likes','reddit_average_posts_48h','reddit_average_comments_48h','reddit_accounts_active_48h'])

In [50]:
uni_df.insert(0,'Name','Uniswap')
uni_df.insert(1,'Ticker','UNI')
uni_df.insert(2,'Price(usd)',27.10)

In [51]:
uni_df

      Name Ticker  Price(usd)  twitter_followers  reddit_subscribers
0  Uniswap    UNI        27.1             606360               50982

In [52]:
cg.get_price(ids="terra-luna", vs_currencies='usd')

{'terra-luna': {'usd': 29.81}}

In [53]:
luna_social = cg.get_coin_history_by_id("terra-luna",'25-8-2021')['community_data']

In [54]:
luna_df = pd.DataFrame(luna_social,index = [0])

In [55]:
luna_df = luna_df.drop(columns=['facebook_likes','reddit_average_posts_48h','reddit_average_comments_48h','reddit_accounts_active_48h'])

In [56]:
luna_df.insert(0,'Name','Terra-Luna')
luna_df.insert(1,'Ticker','LUNA')
luna_df.insert(2,'Price(usd)',29.57)

In [57]:
luna_df

         Name Ticker  Price(usd)  twitter_followers  reddit_subscribers
0  Terra-Luna   LUNA       29.57             111763                6011

In [58]:
cg.get_price(ids="ripple", vs_currencies='usd')

{'ripple': {'usd': 1.19}}

In [59]:
ripple_social = cg.get_coin_history_by_id("ripple",'25-8-2021')['community_data']

In [60]:
ripple_df = pd.DataFrame(ripple_social,index = [0])

In [61]:
ripple_df = ripple_df.drop(columns=['facebook_likes','reddit_average_posts_48h','reddit_average_comments_48h','reddit_accounts_active_48h'])

In [62]:
ripple_df.insert(0,'Name','Ripple')
ripple_df.insert(1,'Ticker','XRP')
ripple_df.insert(2,'Price(usd)',1.18)

In [63]:
ripple_df

     Name Ticker  Price(usd)  twitter_followers  reddit_subscribers
0  Ripple    XRP        1.18            1985288              326864

In [64]:
frames = [btc_df,eth_df,ada_df,bnb_df,ripple_df,doge_df,dot_df,sol_df,uni_df,luna_df]

In [65]:
crypto_socials = pd.concat(frames)

In [66]:
crypto_socials

           Name Ticker    Price(usd)  twitter_followers  reddit_subscribers
0       Bitcoin    BTC  49015.000000            3096212             3294595
0      Ethereum    ETH   3222.720000            1519907             1077117
0       Cardano    ADA      2.740000             565024              578740
0  Binance Coin    BNB    503.010000            4840268              602365
0        Ripple    XRP      1.180000            1985288              326864
0      Dogecoin   DOGE      0.291117            2055865             2144347
0      Polkadot    DOT     25.870000             556846               28747
0        Solana    SOL     72.530000             424322               34764
0       Uniswap    UNI     27.100000             606360               50982
0    Terra-Luna   LUNA     29.570000             111763                6011

In [67]:
crypto_socials.to_csv("crypto_socials.csv",index=False)